@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto:300i,400,400i,500,700|Material+Icons&display=swap);

/** section div container **/

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/**
@media (min-width: 1200px){
    .container, .container-lg, .container-md, 
    .container-sm, .container-xl{
        max-width: 1140px;
    }
}

@media (min-width: 992px){
    .container, .container-lg, .container-md, 
    .container-sm, .container-xl{
        max-width: 960px;
    }
}

@media (min-width: 768px){
    .container, .container-lg, .container-md, 
    .container-sm, .container-xl{
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .container, .container-lg, .container-md, 
    .container-sm, .container-xl{
        max-width: 540px;
    }
}**/



/** Header : Zone de navagation **/
.navbar-short, #navbarNav
{

    font-family: Arimo,sans-serif;
    font-weight: 700;
    letter-spacing: .125rem;
    font-size: 0.75rem;
    line-height: 1.5; 
    
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link
{
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
}

.navbar-light .navbar-nav .nav-link
{
    color: #000;
}

.navbar-nav .nav-link
{
    transition: all .2s ease-in-out;
    outline: 0;
}

.nav-link
{
    display: block;
}

.ml-auto
{
    margin-left: auto;
}

.bg-primary
{
    background-color: #3db36b !important; 
}


/** Section de la partie centrale (corps) **/

.font-family-secondary
{

    font-family: Arimo,sans-serif;
    font-weight: 700;
    letter-spacing: .125rem;
    font-size: 0.75rem;
    line-height: 1.5; 
    
}

/**
#ext01{
    background: linear-gradient(108deg, rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 100%), url("img/workers04.jpg");
}

/** Secttion "Why choose us" **/

.section-content{
    position: relative;
    z-index: 20;
}

.section{
    position: relative;
    overflow: hidden;
    padding: 2.5rem 0;
    background: #fff;
}

.sds-block-background.sds-block-background-right { right: 0; }
.sds-block-background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70%;
    z-index: 5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 1200px){
    .sds-block{
        padding: 3.125rem 0;
    }
}

.sds-block{

    display: flex;
    position: relative;
}

.mt-14, .my-14{
    margin-top: 1.875rem !important;
}

.mt-15, .my-15{
    margin-top: 2rem;
}

.sds-block-forground.sds-block-foreground-left{
    margin-right: auto;
}

.sds-block-foreground{
    position: relative;
    z-index: 10;
    background: #fff;
    width: 45%;
    padding: 3.75rem 2.125rem 3.75rem 4.375rem;
}

@media (min-width: 1200px){
    .text-xl-left{
        text-align: left !important;
    }
}

.mb-12, .my-12{
    margin-bottom: 1.625rem !important;
}

.mb-6, .my-6{
    margin-bottom: .875rem !important;
}

@media (min-width: 1200px){
    .justify-content-xl-start{
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
}

.material-icons{
    vertical-align: middle;
}

.text-primary{
    color: #3db36b !important;
}

.mr-1, .mx-1{
    margin-right: 0.25rem !important;
}

@media (min-width: 576px){
    .d-sm-inline-block{
        display: inline-block !important;
    }
}

@media (min-width: 1200px){
    .mt-xl-20, .my-xl-20{
        margin-top: 3.125rem !important;
    }
}

@media (max-width: 1200px){
    .sds-block-background{
        display: none;
    }
}

@media (max-width: 575px){
    .sds-block-foreground{
        width: auto;
    }
}

@media (max-width: 1200px){
    .sds-block-foreground{
        padding: 0 15px;
        margin: 0 auto;
    }
}


/** la Balise body **/

body
{
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
    color: #212529;
    text-align: left;
}

/** Secttion "Our work" **/

.card.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.card .card-bg-hover{
    opacity: 0;
    transform: scale(.75);
    transition: all .2s ease-in-out;
}

.card-square .card-body{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
}

.card:hover .overlay{
    opacity: 0.5;
}

/** Section "Testimonials" **/

.star-rating{
    color: #fdb813;
    display: inline-flex;
    font-size: 1.25rem;
}

@media (min-width: 1200px){
.card-slider-services .card-slider-item
    {
        width: 445px;
    }
}
/**
.btn-light.disabled, .btn-light:disabled
{
    background: 0 0;
    opacity: 1;
    color: rgba(0, 0, 0, .2);
}**/

.btn-square{
    padding: 0;
    line-height: 3rem;
    height: 3.125rem;
    width: 3.125rem;
}

/** Contact us **/
/**
.form-control, .form-select{
    border-radius: 0;
    width: 100%;
    height: 55px;
    font-family: Roboto, sans-serif;
}**/

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: .5rem 1rem;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
/**
.form-label{
    text-transform: uppercase;
    line-height: 5px;
    color: #9f9494;
    font: 0.75em sans-serif;
    letter-spacing: 3px;
}**/

.form-label {
    font-family: Arimo,sans-serif;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: .75rem;
    color: #9b9b9b;
  }

  .text-muted {
    color: #9b9b9b !important;
  }

#message{
    height: 100px;
}


.form-check{
    position: relative;
    display: block;
}


.form-group{
    margin-bottom: 1.25rem;
}

.form-check-label{
    font-weight: 400;
}

.form-check-input{
    font-family: Arial, sans-serif;
    color: #3db36b;
}

.card-icon {
    color: #adb5bd;
    line-height: 1;
  }

/** google Map **/

.map-area{
    width: 100%;
    height: 365px;
    background: #fff;
        background: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.map-area iframe{
    width: 100%;
    height: 100%;
    border: none;
    
}

.row.vertical-divider-light{
    -moz-border-top-colors: #0e0d0d;
}

.text-body {
    color: #212529 !important;
  }

/** Footer **/

@media (min-width: 992px) {
    .pb-lg-25, .py-lg-25 {
      padding-bottom: 6.25rem !important;
    }
  }
  @media (min-width: 992px) {
    .pt-lg-25, .py-lg-25 {
      padding-top: 6.25rem !important;
    }
  }
  @media (min-width: 576px) {
    .pb-sm-23, .py-sm-23 {
      padding-bottom: 5rem !important;
    }
  }
  @media (min-width: 576px) {
    .pt-sm-23, .py-sm-23 {
      padding-top: 5rem !important;
    }
  }

  
  .pb-19, .py-19 {
    padding-bottom: 2.5rem !important;
  }
  .pt-19, .py-19 {
    padding-top: 2.5rem !important;
  }

  @media (min-width: 576px) {
    .ml-sm-20, .mx-sm-20 {
      margin-left: 3.125rem !important;
    }
  }

  .mb-14, .my-14 {
    margin-bottom: 1.875rem !important;
  }

  .ml-10, .mx-10 {
    margin-left: 1.375rem !important;
  }

  .brand-icons-list .brand-icon {
    margin: .625rem;
  }

  .brand-icon-circle {
    border-radius: 50%;
    color: #fff;
  }

  .brand-icons-list {
    display: -ms-flexbox;
    display: flex;
    margin: -.625rem;
      margin-left: -0.625rem;
  }

  a.footer-brand {
    font-family: Roboto,sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    color: #212529;
    text-decoration: none;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
  }

  a.footer-icon {
    color: #adb5bd;
    line-height: 1;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }

  .brand-icon {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: 1.5rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .2s ease-in-out;
  }

  .brand-icon-facebook, .brand-icon-facebook:active, 
  .brand-icon-facebook:focus, .brand-icon-facebook:hover {
    color: #fff;
  }
  .brand-icon-facebook {
    background: #3b5998;
  }

  .brand-icon-twitter, .brand-icon-twitter:active, 
  .brand-icon-twitter:focus, .brand-icon-twitter:hover {
    color: #fff;
  }
  .brand-icon-twitter {
    background: #1da1f2;
  } 

.brand-icon-pinterest, .brand-icon-pinterest:active, 
.brand-icon-pinterest:focus, .brand-icon-pinterest:hover {
  color: #fff;
}
.brand-icon-pinterest {
  background: #bd081c;
}

.brand-icon > i {
    font-size: 62.5%;
  }

a.footer-icon i, a.footer-icon > .material-icons {
  font-size: 1.5rem;
}
.material-icons {
  vertical-align: middle;
}

.footer-menu {
    list-style: none;
    margin: 0 -1.5625rem;
      margin-bottom: 0px;
    padding: 0;
    font-size: 0;
    line-height: 1.5;
  }

  .footer-menu li {
    display: inline;
  }

  .footer-menu a {
    display: inline-block;
    font-family: Arimo,sans-serif;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .125rem;
    font-weight: 700;
    margin: 0 1.5625rem;
    color: #4a4a4a;
    transition: all .2s ease-in-out;
  }
  
.bg-secondary {
    background-color: #f9f9f9 !important;
  }

/**
.card-link-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1030;
}

/** La balise a **/

a{
    color: #3db36b;
    text-decoration: none;
    background-color: transparent;
}


/** Les classes btn **/

.btn-lg
{
    padding: 1.25rem 2.65rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: 0;
}

.btn-primary
{
    color: #fff;
    
    background-color: #3db36b;
    border-color: #3db36b;
}

.btn{
    letter-spacing: .125rem;
    text-transform: uppercase;
    display: inline-block;
    font-family: Arimo, sans-serif;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    
}


/** la row **/
/**
.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


/** la classe card **/
/**
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    z-index: 0;
}


/** Align-items **/
/**
.align-items-center{
    -ms-flex-align: center !important;
    align-items: center !important;
}


/** Les margins personnalisées **/

.mb-0, .my-0
{
    margin-bottom: 0 !important;
}

.mb-5, .my-5
{
    margin-bottom: .75 !important;
}

.mt-5, .my-5
{
    margin-top: .75 !important;
}

.mt-7, .my-7
{
    margin-top: 1rem !important;
}

.mb-9, .my-9
{
    margin-bottom: 1.25rem !important;
}

.mb-10, .my-10
{
    margin-bottom: 1.375 !important;
}

.mt-17, .my-17 {
  margin-top: 2.25rem !important;
}


/** Les paddings personnalisés **/

@media (min-width: 992px){
    .pb-lg-25, .py-lg-25
    {
        
        padding-bottom: 6.25rem !important;
        
    }
}

@media (min-width: 992px){
    .pt-lg-25, .py-lg-25
    {
        
        padding-top: 6.25rem !important;
        
    }
}

@media (min-width: 768px){
    .pb-md-23, .py-md-23
    {
        
        padding-bottom: 5rem !important;
        
    }
}

@media (min-width: 768px){
    .pt-md-23, .py-md-23
    {
        
        padding-top: 5rem !important;
        
    }
}

.pb-17, .py-17 {
    padding-bottom: 2.25rem !important;
  }
  .pt-17, .py-17 {
    padding-top: 2.25rem !important;
  }
  .pl-10, .px-10 {
    padding-left: 1.375rem !important;
  }
  .pr-10, .px-10 {
    padding-right: 1.375rem !important;
  }

.pb-14, .py-14
{
    padding-bottom: 1.875rem !important;
}

.pt-14, .py-14
{
    padding-top: 1.875rem !important;
}

.pb-19, .py-19{
    padding-bottom: 2.5rem !important;
}

.pt-19, .py-19{
    padding-top: 2.5rem !important;
}

@media (min-width: 992px) {
    .pb-lg-20, .py-lg-20 {
      padding-bottom: 3.125rem !important;
    }
  }

  @media (min-width: 992px) {
    .pt-lg-20, .py-lg-20 {
      padding-top: 3.125rem !important;
    }
  }


/** Les fs personnalisés **/

@media (min-width: 992px){
    .fs-lg-11
    {
        
        font-size: 4.375rem !important;
        
    }
}

.fs-1{
    font-size: 0.75rem !important;
}

.fs-2{
    font-size: 2.25rem !important;
}

.fs-5
{
    font-size: 1.125rem !important;
}

.fs-10
{
    font-size: 3.125rem !important;
}

.card-title{
    font-family: Roboto, Arimo, sans-serif;
    font-size: 4.375rem;
    color: white;
}

.card-text{
    font-family: Arimo, Calibri, sans-serif;
    font-size: 1.20rem;
    color: white;
}

/** shuffle-grid **/

@media (min-width: 992px){
    .shuffle-grid-cols-lg-2 .shuffle-grid-item
    {
        
       width: 50%;
        
    }
}

@media (min-width: 1200px){
    .shuffle-grid-cols-xl-4 .shuffle-grid-item
    {
        
       width: 25%;
        
    }
}

.shuffle-grid-cols-1 .shuffle-grid-item
{
    
    width: 100%;
    
}

.shuffle-grid-gap-14 .shuffle-grid-item
{
    
    padding: .9375rem;
    
}

.shuffle-grid-item
{
    
    float: left;
    
}

.h1, h1{
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 1.2;
}

/** Les fw personnalisés **/

.font-weight-bold{
    font-weight: 700 !important;
}


/** Les lh personnalisés **/

.lh-1{
    line-height: .75rem !important;
}


/** Les letter spacing **/

.letter-spacing-caption{
    letter-spacing: .125rem;
}


/** Les text-color **/

.text-white-75{
    color: rgba(255, 255, 255, .75);
}

.text-white
{
    color: #fff !important;
}


/** Font-family **/

.font-family-secondary{
    font-family: Arimo, sans-serif;
}


/** Text Align **/
/**
.text-center
{
    text-align: center !important;
}


/** Background-color (bg) **/
/**
.bg-transparent{
    background-color: #212529;
}


/** bordures **/
/**
.border-0{
    border: 0 !important;
}

**/